* {
    margin: 0;
    font-family: Arial, sans-serif;
}

div {
    color: rgb(81, 172, 184);
}
button {
    background-color: aqua;
}

.arquivo {
    background-color: blue;
    width: 1058px;
    height: 816px;
    display: block;
    align-content: center;
    margin: 0px;
}
.arquivo_content {
    background-color: wheat;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    height: 94%;
    width: 94%;
    align-self: center;
    align-items: flex-start;
}

.flexCenter {
    display: flex;
    justify-content: center; 
    align-items: center;    
}

.title {
    display: flex;
    color: aqua;
    width: 100%;
    align-items: center;
}
.subtitle {
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 {
    margin: 0 5% 0 0;
    font-size: 1.3rem;
}
h2 {
    margin: .2rem 0 .2rem 0;
    font-size: .7rem;
}
h3 {
    justify-content: center;
    align-self: center;
    margin: 0;
    font-size: .6rem;
}

.titleGrid {
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
    height: 6%;
    background-color: rgb(40, 40, 167);
    display: flex;
    justify-content: space-between;
}
.titleGridElement {
    height: 100%;
    background-color: rgb(92, 92, 187);

}
.elementHeader {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    background-color:rgb(52, 52, 131);
    border: solid 1px black;
    height: 40%;
    font-size: 12px;
    justify-content: center;
}
.elementBody {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 55%;
    font-size: 16px;
    text-align: center;
    border: solid 1px black;
    border-top: 0;
}

/* primeiro grid */

.municipio {
    margin-right: -3px;
    width: 26%;
}

.codigo {
    width: 30%;
}
.categ {
    width: 9%;
}
.zona {
    width: 18%;
}
.tipo {
    width: 6.4%;
}
.concluida {
    width: 6.4%;
}
/* segundo grid */

.data {
    width: 18%;
}
.ciclo {
    width: 15%;
}
.atividade {
    width: 55%;
}

/* Ultima linha de titulo dentro de container*/

.onlyTitle {
    width: 100%;
    height: fit-content;
}
.onlyTitleContent {
    padding: 3px;
}

/* full table */

.bigGridTitle {
    height: 14%;
    display: flex;
    margin-bottom: 0;
}

.type4 {
    color: rgb(26, 24, 24);
    height: 100%;
    background-color: cadetblue;
    width: 2%;
    border: 1px solid rgb(0, 0, 0);
    border-left: 0;
    font-size: 10px;
}

.short1 {
    flex: 1;
}
.short2 {
    flex: 2;
}
.short3{
    flex: 3;
}

.medium1 {
    flex: 5;
}
.medium2 {
    flex: 10;
}

.long1 {
    flex: 20;
}
.long2 {
    flex: 50;
}

.nowrap {
    white-space: nowrap;
}
.normalText {
    text-align: center;
}
.rotate {
    align-items: center;
    transform: rotate(-90deg);
    text-align: center;
}
.smallElementHeader {
    height: 26%;
    border: 0;
    font-size: 10px;
    border-bottom: solid 1px black;
}
.smallElementGrid {
    border-top: 0;
    margin: 0;
    height: 46%;
}

.smallType4Wraper {
    margin: 0;
    height: 73%;
}
.smallType4Wraper2 {
    margin: 0;
    height: 75%;
}

.long2Title {
    height: 17%;
    min-height: 17px;
    max-height: 18px;
}
.long2Subtitle {
    width: 70%;
}

.amostraHeightFix {
    height: 96%;
}

.wrapper1 {
    width: 100%;
    height: 82%;
    display: flex;
    background-color: azure;
}
.wrapper2 {
    width: 100%;
    height: 80%;
    display: flex;
    background-color: azure;
}
table{
    height: 100%;
    width: 100%;
}

.mainTable {
    border-collapse: collapse;
    height: 450px;
    table-layout: fixed;
}

th, td {
    border: 1px solid black;
    text-align: center;
    font-size: 12px;
    padding: 0;
    border-bottom: 0px;
    border-right: 0px;
}

/* Definição das larguras das colunas */
.Grid1 {
    width: 18px;
}
.Grid2 {
    width: 20px;
}
.Grid3 {
    width: 22px;
}
.Grid4 {
    width: 23px;
}
.Grid5 {
    width: 24px;
}
.Grid6 {
    width: 25px;
}
.Grid7 {
    width: 26px;
}
.Grid8 {
    width: 29px;
}
.Grid9 {
    width: 34px;
}
.Grid10 {
    width: 39px;
}
.Grid11 {
    width: 40px;
}
.Grid12 {
    width: 41px;
}
.Grid13 {
    width: 44px;
}
.Grid13-1 {
    width: 46px;
}
.Grid14 {
    width: 164px;
}


/* Definição das alturas das linhas */
td {
    height: 20px;
}

/* linha de assinaturas */

.linhaAssinaturas {
    margin-top: 8px;
}
.assinatura {
    width: 31%;
    border: 1px solid black;
}
.legendaTipo {
    width: 23%;
    border: 1px solid black;
}
.legendaPendencia {
    width: 13%;
    border: 1px solid black;
}

.sideTitle {
    width: 100px;
    height: 100%;
    display: flex;
    background-color: rgb(75, 40, 202);
    text-align: center;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
}
.sideTitleShort1 {
    width: 60px;
}
.sideTitleShort2 {
    width: 65px;
}

/* pagina 2 */
.resumoCampo1 {
    height: 10%;
}
.resumoCampo2 {
    height: 20%;
    justify-content: space-between;
}
.resumoCampo3 {
    height: 16%;
    justify-content: space-between;
}

/* linha 1 */

.wrapperGridDuasLinhas {
    height: 66%;
}
.wrapperGridDuasLinhasResumo2 {
    height: 75%;
}
.wrapperGridTresLinhasResumo {
    height: 78%;
}
.wrapperGridQuatroLinhasResumo {
    height: 82%;
}

.smallTitleMaxHeight {
    max-height: 22px;
}

.imoveis1 {
    width: 26%;
    margin-right: 6px;
}
.imoveis2 {
    width: 17%;
    margin-right: 16px;
}
.tubitos{
    width: 5%;
    margin-right: 4px;
}
.pendencia{
    width: 8%;
}
.depositos{
    width: 36%;
}

.halfRemaining {
    height: 50%;
}
.thirdRemaining {
    height: 33%;
}
.quarterRemaining {
    height: 25%;
}

/* linha2 */
.resumoDepositos {
    width: 52%;
    justify-content: space-between;
}

.resumoDepositoElement {
    border: 1px black solid;
    color: rgb(7, 12, 10);
    height: 60%;
    width: 75%;
}
.resumoAdulticidaElement {
    color: rgb(7, 12, 10);
    height: 60%;
    width: 20%;
    margin-right: 14px;
}

.quarteiroes {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.quarteiroesElement{
    width: 100%;
    height: 46%;
}
.quarteiroesLabElement{
    width: 48%;
    height: 100%;
}

/* Linha 4 */
.especime1 {
    width: 45%;
    height: 80%;
}
.especime2 {
    width: 30%;
}
.exemplares {
    width: 20%;
}




/* dumb remove border */
.no-border-right {
    border-right:0;
}
.no-border-left {
    border-left:0;
}
.no-border-top {
    border-top:0;
}
.no-border-bottom {
    border-bottom:0;
}

/* dumb add border */

.border-right {
    border-right:1px solid black;
}
.border-left {
    border-left:1px solid black;
}
.border-top {
    border-top:1px solid black;
}
.border-bottom {
    border-bottom:1px solid black;
}